*{
    margin: 0 ;
  }
html{
    font-size: 14px;
}
.bg-dark{
    background: #1B2733;
}
.bg-gary{
    background: #ECF5FF;
}
.home-title{
  font-family: 'cursive';
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.col-fff {color: #fff;}
.col-sucs{color: #67C23A}
.col-danger{color: #F56C6C}
.col-blue{color: #409EFF}
.col-warning{color: #E6A23C}
.col3{color: #333;}
.ft12{font-size: 12px}
.ft20{font-size: 20px}
.ft16{font-size: 16px}
.ft36{font-size: 36px}
.tl{text-align: left}
.tc{text-align: center}
.tr{text-align: right}
.pr{position: relative;}
.pa{position: absolute;}
.bold{font-weight: bold}
.lh20{line-height: 20px;}
.lh24{line-height: 24px;}
.lh30{line-height: 30px;}
.lh40{line-height: 40px;}
.mt2{margin-top: 2px}
.mt4{margin-top: 4px}
.mt5{margin-top: 5px}
.mt10{margin-top: 10px !important}
.mt20{margin-top: 20px !important}
.mb10{margin-bottom: 10px !important}
.mb20{margin-bottom: 20px !important}
.mb25{margin-bottom: 25px !important}
.mr5{margin-right: 5px !important}
.mr10{margin-right: 10px !important}
.mr20{margin-right: 20px !important}
.ml10{margin-left: 10px !important;}
.ml20{margin-left: 20px !important;}
.pb10{padding-bottom: 10px !important}
.ml40{margin-left: 40px !important;}
.w100{width: 100%;}
.w100p{width: 100px !important;}
.w217{width: 217px !important;}
.w190{width: 190px !important;}
.w200{width: 200px !important;}
.w280{width: 280px !important;}
.w300{width: 300px !important}
.middle{vertical-align: middle}
.flex{
  display: flex;
  flex-direction: column;
}
.flex-item{
  align-items: center
}
.block{display: block;}
.iblock{display: inline-block;}
.ellpis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.el-header{
    height: 60px;
    text-align: left;
    padding: 0 10px;
    font-weight: 100;
    color: #000;
    
}
.el-breadcrumb{
  line-height: 60px;
}
.el-aside{
    height: 100vh;
    width: 260px !important;
}
.el-menu{
border-right: none;
}
 audio:focus{outline: -webkit-focus-ring-color auto 0;}
/*滚动条整体样式*/
.box::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}
/*滚动条滑块*/
.box::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #e9eef3;
}
/*滚动条轨道*/
.box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 6px;
    background: rgb(84, 92, 100);
}
/*滚动条整体样式*/
.box-phone::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}
/*滚动条滑块*/
.box-phone::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.2);
  background: #e9eef3;
}
/*滚动条轨道*/
.box-phone::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0);
  border-radius: 3px;
  background: rgb(255, 255, 255);
}
/* 图片上传 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }


  .el-breadcrumb__item:last-child .el-breadcrumb__inner,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
    font-weight: bold;
  }
  .my-form-btm .el-form-item{
    margin-bottom: 10px;
  }
  .tips{
    font-size: 12px;
    color: #888;
    line-height: 20px;
  }

  .info-div{
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
  }
  .my-icon-radio-uncheck{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 auto;
  }
  .banner{
    width: 198px!important;
    height: 120px!important;
    line-height: 120px!important;
  }
  .bor-btm{
    border-bottom: 1px solid #eee;
  }
  /*表单宽度*/
  .el-input {
    width: 200px;
  }
  /*表格设置*/
    .el-table th {
    background: #e9eef3;
  }
  .el-table td, .el-table th {
    padding: 7px 0;
    text-align: center;
}
/*  */
.all-user .buttonRow{
  text-align: right;
}

.small-form-item .el-form-item{
  margin-bottom: 14px;
}
.el-picker-panel__body-wrapper .el-input{
  width: 145px !important;
}
.tableAvaterBox{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableAvater{
  width: 50px;height: 50px;
}
.userLogo{
  width: 100px;
  height: 100px;
  border-radius: 50%
}
.course-img{
  width: 100px;
  height:60px;
  overflow: hidden;
}
.ql-editor{
  height: 400px!important;
}
.ql-snow .ql-picker.ql-header{
  line-height: 22px!important;
}
 .aLink {
   margin-right: 5px;
  color: #409EFF;
  padding-bottom: 0; vertical-align: middle;font-size: 12px;text-decoration: none;

  &:active {
    color: #409EFF;
  }
}

/* 给表单必须填写的字段手动加上红点（用在不方便校验的地方 例如：上传图片） */
 .formRedStar .el-form-item__label {
  position: relative;
}
.formRedStar .el-form-item__label::before {
  position: absolute;
  left: 10px;
  content: "*";
  top: 0px;
  color: red;
}

.formRedStar.left40 .el-form-item__label::before {
  left: 40px;
}